*.gem
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/db/*.sqlite3
/db/*.sqlite3-*
/public/assets
.byebug_history

/config/master.key

/storage/*
!/storage/.keep

/tmp/storage/*
!/tmp/storage/.keep

.DS_Store

/config/credentials/*.key

.idea/
